<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{082be762-baf0-4254-9797-2e6b44d09a59}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>02/09/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Addin2_addin.py" namespace="Addin2_addin"><ArcMap>
    <Commands>
        <Button caption="+" category="Python Addin" class="ButtonClass6" id="Addin2_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="&#1053;&#1086;&#1084;&#1077;&#1088; &#1086;&#1087;&#1086;&#1088;&#1099;" category="Python Addin" class="ComboBoxClass7" id="Addin2_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <Tool caption="&#1042;&#1099;&#1073;&#1088;&#1072;&#1090;&#1100;" category="Python Addin" class="ToolClass9" id="Addin2_addin.tool" image="" message="" tip=""><Help heading="" /></Tool>
        <Button caption="-" category="Python Addin" class="ButtonClass10" id="Addin2_addin.button_2" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="ComboBox" category="Python Addin" class="ComboBoxClass11" id="Addin2_addin.combobox_1" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="Addin2_addin.toolbar" showInitially="true"><Items><Button refID="Addin2_addin.button" /><ComboBox refID="Addin2_addin.combobox" /><Tool refID="Addin2_addin.tool" /><Button refID="Addin2_addin.button_2" /><ComboBox refID="Addin2_addin.combobox_1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>