<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{d0cbe6e7-9977-45c2-b0cf-494f2c9d75f0}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>sas</Author><Company>Poxpox</Company><Date>02/08/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="FirstAddIn_addin.py" namespace="FirstAddIn_addin"><ArcMap>
    <Commands>
        <ComboBox caption="&#1053;&#1086;&#1084;&#1077;&#1088; &#1086;&#1087;&#1086;&#1088;&#1099;" category="Python Addin" class="ComboBoxClass1" id="FirstAddIn_addin.combobox" itemSizeString="WWWWWW" message="&#1053;&#1086;&#1084;&#1077;&#1088; &#1086;&#1087;&#1086;&#1088;&#1099;" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <Tool caption="Tool" category="Python Addin" class="ToolClass3" id="FirstAddIn_addin.tool" image="" message="" tip=""><Help heading="" /></Tool>
        <Button caption="Button" category="Python Addin" class="ButtonClass4" id="FirstAddIn_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="ComboBox" category="Python Addin" class="ComboBoxClass5" id="FirstAddIn_addin.combobox_1" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="FirstAddIn_addin.toolbar" showInitially="true"><Items><ComboBox refID="FirstAddIn_addin.combobox" /><Tool refID="FirstAddIn_addin.tool" /><Button refID="FirstAddIn_addin.button" /><ComboBox refID="FirstAddIn_addin.combobox_1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>